.board {
  margin: 20px;
  margin-bottom: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  &:before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 6;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  &.right {
    .head {
      transform: rotate(-90deg);
    }
  }

  &.left {
    .head {
      transform: rotate(90deg);
    }
  }

  &.up {
    .head {
      transform: rotate(180deg);
    }
  }

  .column {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .tile {
      @keyframes breathe {
        0% {
          transform: scale(0.6);
        }

        50% {
          transform: scale(1.1);
        }

        100% {
          transform: scale(0.6);
        }
      }
      display: inline-block;
      background-color: #000000;
      border: 1px solid #646464;
      margin-left: -1px;
      margin-top: -1px;
      &:hover {
        background-color: #4b4b4b;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .board {
    margin: 20px 0 !important;
  }
}
