.pad {
  display: none;
  position: fixed;
  bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 6;
  .sides {
    button {
      margin: 10px 40px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .pad {
    display: flex;
  }
}
