$f: #c2185b;
.overlay {
  @keyframes flash {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &.start {
    animation: flash 3s infinite;
  }
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  font-family: "Press Start 2P", cursive !important;
  color: #c2185b;
  font-style: italic;
  text-transform: uppercase !important;
  cursor: default;
  user-select: none;
  @for $i from 1 through 2 {
    @keyframes glitch-anim-#{$i} {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          $top: random(100);
          $bottom: random(101 - $top);
          clip-path: inset(
            percentage($top / 100) 0 percentage($bottom / 100) 0
          );
        }
      }
    }
  }
  .top,
  .middle,
  .bottom {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .box {
      text-align: center;
      h1 {
        font-size: 70px;
      }
      h2 {
        font-size: 25px;
      }
    }
  }
  .top {
    z-index: 4;
    left: 1px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 3s infinite linear alternate-reverse;
  }
  .middle {
    z-index: 3;
  }
  .bottom {
    z-index: 2;
    right: 1px;
    text-shadow: -1px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }
}
@media only screen and (max-width: 900px) {
  .overlay {
    .top,
    .middle,
    .bottom {
      .box {
        h1 {
          font-size: 50px;
        }
        h2 {
          font-size: 17px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .overlay {
    .top,
    .middle,
    .bottom {
      .box {
        h1 {
          font-size: 35px;
        }
        h2 {
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .overlay {
    .top,
    .middle,
    .bottom {
      .box {
        h1 {
          font-size: 27px;
        }
        h2 {
          font-size: 9px;
        }
      }
    }
  }
}
